.game-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background: #ebebeb;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

#game-container {
    border-radius: 30px;
    box-shadow:  9px 9px 18px #9d9c9c, -9px -9px 18px #ffffff;
}
